<div class = "col-md-6">

<%= simple_form_for @property, wrapper: :horizontal_form do |f| %>
	<% if @property.errors.any? %>
		<div class="alert alert-danger">
		    <% @property.errors.full_messages.each do |msg| %>å
		      <%= msg %>
		    <% end %>
	    </div>
	<% end %>
	<h1>
        <%= link_to properties_path, :class => 'btn btn-large btn-primary', method: :get do %>
          <i class="material-icons">arrow_back</i>
        <% end %>
        Edit <%= @property.name %>
    </h1>
	<hr>
	<%= f.input :investor_id, label: "Investor", collection: Investor.all.order('name ASC'), :label_method => :name, :value_method => :id, :include_blank => false %>
	<%= f.input :name, label: "Name" %>
	<%= f.input :address, label: "Address" %>
	<%= f.input :city, label: "City" %>
	<%= f.input :state, label: "State" %>
	<%= f.input :zip, label: "Zip" %>

	<%= f.input :purchase_price, label: "Purchase Price" %>
	<%= f.input :down_payment_pct, label: "Down Payment Percent" %>
	<%= f.input :monthly_gross_rental_income, label: "Monthly Gross Rental Income" %>
	<%= f.input :omi_unit_rent, label: "OMI Unit Rent Income" %>

	<%= f.input :sell_existing, label: "Sell Existing", collection: Property.sell_existings.keys.map {|type| [type.titleize, type]} %>
    <%= f.input :loan_type, label: "Loan Type", collection: Property.loan_types.keys.map {|type| [type.titleize, type]} %>
    <%= f.input :stated_residence, label: "Stated Residence", collection: Property.stated_residences.keys.map {|type| [type.titleize, type]} %>
    <%= f.input :actual_residence, label: "Actual Home", collection: Property.actual_residences.keys.map {|type| [type.titleize, type]} %>


    <%= f.input :number_of_units, label: "Number of Units" %>
    <%= f.input :link, label: "Link" %>
    <%= f.input :notes, label: "Notes" %>


    <h2>Picture</h2>
      <p>
        <%= f.label "Insert a picture of the building here:" %><br>
        <%= f.file_field :photo %>
      </p>

	<div class = "pull-xs-right">
		<%= f.submit "Save", class: 'btn btn-success', style: "margin-left:5px;" %>
	</div>


<% end %>
	<div class = "pull-xs-right">
			<%= button_to('All Properties', properties_path, :class => 'btn btn-large btn-primary', :method => :get, style: "margin-left:5px;" )  %>
	</div>
	<br>
	<br>
	<br>

</div>


<div class = "col-md-6">
	Interest Rate<br>
	<%= @property.interest_rate %><br>
	Down Payment<br>
	<%= @property.down_payment %><br>
	Reserves<br>
	<%= @property.cash_reserves %><br>

	Total Qualified Income<br>
	<%= @property.total_qualified_income.round() %><br>
	Total Monthly Payment<br>
	<%= @property.total_monthly_payment.round() %><br>
	Total Monthly Rent<br>
	<%= @property.total_monthly_rent.round() %><br>
	Mortgage Amount<br>
	<%= @property.new_property_debt.round() %><br>
</div>








